<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Contact Details</title>
</head>
<body>
	<section>
		<div class="card mr-4 ml1">
			<div class="card-body">
				<div>
					<div class="alert alert-danger" th:if="${session.danger}">
						<h5 th:text="${session.danger}"></h5>
						<th:block th:text="${#session.removeAttribute('danger')}"></th:block>
					</div>
					<div class="alert alert-success" th:if="${session.success}">
						<h5 th:text="${session.success}"></h5>
						<th:block th:text="${#session.removeAttribute('success')}"></th:block>
					</div>
				</div>
				<div class="container text-center" th:if="${contact}">

					<img class="my-profile-pic mt-1" alt=""
						style="height: 150px; width: 150px;"
						th:src="@{'/img/contactimg/'+${contact.image}}">
					<h5 class="mt-2">
						<span th:text="${contact.name}"></span> <span
							th:if="${contact.nickName != ''}"
							th:text="${'('+{contact.nickName}+')'}"></span>
					</h5>

					<table class="table table-striped ">
						<thead>
							<tr>
								<th scope="col">#Id</th>
								<th scope="col"><span th:text="${contact.cid}"></span></th>
							</tr>
						</thead>
						<tbody>

							<tr>
								<th scope="row">Phone No.</th>
								<td><span th:text="${contact.phoneNo}"></span></td>
							</tr>
							<tr>
								<th scope="row">Alternate Phone</th>
								<td><span th:text="${contact.alternatePhoneNo}"></span></td>
							</tr>
							<tr>
								<th scope="row">Email</th>
								<td><span th:text="${contact.email}"></span></td>
							</tr>
							<tr>
								<th scope="row">Work</th>
								<td><span th:text="${contact.work}"></span></td>
							</tr>
						</tbody>

					</table>
					<div class="description mt-1">
						<th:block th:utext="${contact.description}"></th:block>
					</div>
					<div class="container mt-3">
						<a th:href="@{'/user/updatecontact/'+${contact.cid}}">
							<button class="btn btn-success btn-sm btn-block">Update</button>
						</a> </a> <a href="#" th:onclick="|deleteContact(${contact.cid})|"
							class="btn btn-danger btn-sm btn-block mt-2">Delete</a> <a
							href="/user/show-contacts/0"> <!-- <i class="fa-solid fa-address-book"></i> -->
							<button class="btn btn-primary btn-sm btn-block mt-2">View
								Contacts</button>
						</a>
					</div>
				</div>
				<div class="container text-center alert alert-danger"
					th:unless="${contact}">
					<h2>Access Denied. You dont have Permision to access this
						field...</h2>
				</div>
			</div>
		</div>


	</section>
</body>
</html>