<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Upadate-Form</title>
</head>
<body>
	<section>
		<div class="card col-md-9 offset-md-1">
			<div class="card-body">
				<h2 class="text-center">Update User</h2>
				<div class="container-fluid mt-4">
					<div>
						<div class="alert alert-danger" th:if="${session.danger}">
							<h5 th:text="${session.danger}"></h5>
							<th:block th:text="${#session.removeAttribute('danger')}"></th:block>
						</div>
						<div class="alert alert-success" th:if="${session.success}">
							<h5 th:text="${session.success}"></h5>
							<th:block th:text="${#session.removeAttribute('success')}"></th:block>
						</div>
					</div>
					<div class="row">
						<div class="">
							<form action="" th:object="${user1}"
								enctype="multipart/form-data" method="post"
								th:action="@{/user/update-user}" class="mt-2">
									
								<!-- Hidden Contact Id -->
								<input type="hidden" th:value="${user1.id}" name="id">
								<!-- Name -->
								<div class="input-group">
									<div class="input-group-prepend">
										<div class="input-group-text">
											<i class="fa fa-plus"></i>
										</div>
									</div>
									<input type="text" id="name" name="name" th:value="${user1.name}"
										th:classappend="${#fields.hasErrors('name')? 'is-invalid':''}"
										placeholder="Enter Name Here" class="form-control" required>
									<div class="invalid-feedback"
										th:each="e:${#fields.errors('name')}" th:text="${e}"></div>
								</div>
								<!-- Email -->
								<div class="input-group mt-3">
									<div class="input-group-prepend">
										<div class="input-group-text">
											<i>@</i>
										</div>
									</div>
									<input type="email" id="email" name="email" th:value="${user1.email}"
										th:classappend="${#fields.hasErrors('email')? 'is-invalid':''}"
										placeholder="Enter Username/Email Address"
										class="form-control">
									<div class="invalid-feedback"
										th:each="e:${#fields.errors('email')}" th:text="${e}"></div>
								</div>
								<!-- Password -->
								<div class="input-group">
								
									<input type="hidden" id="password" name="password" th:value="${user1.password}"
										class="form-control">
								</div>
								<!-- Phone Number -->
								<div class="input-group mt-3">
									<div class="input-group-prepend">
										<div class="input-group-text">
											<i class="fas fa-phone"></i>
										</div>
									</div>
									<input type="number" id="phoneNo" name="phoneNo" th:value="${user1.phoneNo}"
										th:classappend="${#fields.hasErrors('phoneNo')? 'is-invalid':''}"
										placeholder="Enter Phone Number" class="form-control" required>
									<div class="invalid-feedback"
										th:each="e:${#fields.errors('phoneNo')}" th:text="${e}"></div>
								</div>
								<!-- about -->
								<div class="input-group mt-3">
									<div class="input-group-prepend">
										<div class="input-group-text">
											<i class="fas fa-briefcase"></i>
										</div>
									</div>
									<input type="text" id="about" name="about" th:value="${user1.about}"
										th:classappend="${#fields.hasErrors('about')? 'is-invalid':''}"
										placeholder="Enter Something About Yourself" class="form-control">
									<div class="invalid-feedback"
										th:each="e:${#fields.errors('about')}" th:text="${e}"></div>
								</div>

								
								<!-- image -->
								<div class=" text-center  mt-2">
									<img class="my-profile-pic" alt="" style="height:200px; width:200px;"
								th:src="@{'/img/userimage/'+${user1.image}}">
								
								</div>
								<p class="text-secondary">Choose new profile pic</p>
								<div class="custom-file mt-3">

									<input type="file" id="image" name="userimage"
										class="form-control">
								<input type="hidden" th:value="${user1.image}" name="image">
								</div>
								<div>
								<input type="hidden" name="role" th:value="${user1.role}">
								<input type="hidden" name="accountActive" th:value="${user1.accountActive}">
								</div>

								<!-- Submit And Reset buttons -->
								<div class="text-center mt-3">
									<button type="submit" class="btn bg-primary text-white">Save
										Changes</button>
									<button type="reset" class="btn btn-warning">Reset</button>
								</div>
							</form>
						</div>

					</div>

				</div>
			</div>
		</div>


	</section>
</body>
</html>