<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Login</title>
</head>
<body>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-8 offset-md-3">
					<div class="my-login-card mt-3">
						<h3 class="text-center">Reset Password</h3>
						<form id="login-form" class="form" th:action="@{/send-otp}"
							action="" method="post">
							<div>
								<div class="alert alert-danger" th:if="${session.danger}">
									<h5 th:text="${session.danger}"></h5>
									<th:block th:text="${#session.removeAttribute('danger')}"></th:block>
								</div>
								<div class="alert alert-success" th:if="${session.success}">
									<h5 th:text="${session.success}"></h5>
									<th:block th:text="${#session.removeAttribute('success')}"></th:block>
								</div>
							</div>
							<!-- Email input -->
							<div class="form-outline mb-4">
								<label class="form-label" for="form2Example1">Registered
									Username:</label> <input type="email" id="form2Example1"
									class="form-control" name="email"
									placeholder="Enter Your Email Address" required />
							</div>

							<!-- Get OTP button -->
							<div class="signin-btn text-center">
								<button type="submit" name="submit"
									class="btn btn-primary btn-block mb-4">Get OTP</button>
							</div>

						</form>
					</div>
				</div>
			</div>

		</div>

	</section>

</body>
</html>